body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f7f7f7;
}

h1{
    background-color: blanchedalmond;
    border-radius: 30px;
}

#pokemon-list {
    background-color: blanchedalmond;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.pokemon-item {
    background: white;
    border-radius: 10px;
    border: solid black 1px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 15px;
    width: 150px;
}

button {
    background: #ffcb05;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover {
    background: #3b4cca;
    color: white;
}

#pokemon-details {
    margin-top: 20px;
    
}
